@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    p{
        margin: 0;
    }
}
.app-container{
    display: grid;
    font-family: 'Lato', sans-serif;}

.video-container{

    height: 100vh;
    position: relative;

    .videoTag{
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .5s;
        
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel-container{        
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .5s;
        z-index: 2;
        min-height: 100vh;
        height: 100%;
        position: relative;
        .carousel-img-container{
            min-height: 100vh;
            // border: solid green;
            img{
                height: 100vh;
                width: 100%;
                object-fit: cover;
            }
        }

        #left-container{
            position: absolute;
            top: 45%;
            left: 0;
            z-index: 7;
            cursor: pointer;
            #left{
                font-size: 3em;
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
            }
        }

        #right-container{
            position: absolute;
            top: 45%;
            right: 0;
            z-index: 4;
            #right{
                font-size: 3em;
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
            }
        }
        
    }

    .video-text{
        z-index: 2;
        position: absolute;
        top:40%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        text-align: center;
        color: white;
        display: grid;
        
        h1{
            margin: 0;
            font-size: 3em;
            text-shadow: 1px 1px #303030;
        }
        h4{
            margin: 10px 0 20px 0;
            text-shadow: 1px 1px #303030;
        }
        h3{
            margin: 0;
            padding: 10px 20px 10px 20px;
            background: white;
            color: rgb(0, 0, 0);
            justify-self: center;
            cursor: pointer;
        }

    }

}

.projects-container{

    h1{
        color: rgb(220, 220, 220);
        text-align: center;
        padding: 2px 0 0 0;
    }
    .thumb-container{
        .thumb-video-container{
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: .5s;
            position: relative;
            margin: 10px 0 10px 0;
            img{
                max-width: 100%;
                width: 100%;
                min-height: 100%;
                object-fit: cover;

            }

            .thumb-gallery-video{
                cursor: pointer;
            }

            .thumb-video-text{
                z-index: 2;
                position: absolute;
                top: 20%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                color: rgb(240, 240, 240);
                font-weight: 400;
                text-shadow: 1px 1px #303030;
                width: fit-content;  
                #artist{
                    font-size: 2em;
                    font-weight: 700;
                }
                #song-title{
                    font-size: 1.5em;
                }
            }
        }
    }
}

.footer-container{
    color: white;
    text-align: center;
    font-size: 2em;
    h4{
        margin: 20px 0 20px 0;
    }
    p{
        margin: 5px;
        font-size: .45em;
    }

    .footer-contacts{
        margin: 20px;
        a{
            margin: 0 15px 0 15px;
            .contact-icon{
                margin: 0;
            }
        }

    }

}

@media only screen and (min-width: 950px) {

    .thumb-video-container{
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .5s;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        cursor: default;

        .thumb-gallery-video{
            z-index: 3;
        }
    }

}

.loading-container{
    color: white;
    text-align: center;
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(24px, 0);
        }
      }
      
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}