@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

body a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body p {
  margin: 0;
}

.app-container {
  display: -ms-grid;
  display: grid;
  font-family: 'Lato', sans-serif;
}

.video-container {
  height: 100vh;
  position: relative;
}

.video-container .videoTag {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  z-index: -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-container .carousel-container {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  z-index: 4;
  min-height: 100vh;
  height: 100%;
}

.video-container .carousel-container div {
  min-height: 100vh;
}

.video-container .carousel-container div img {
  min-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-container .video-text {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: white;
  display: -ms-grid;
  display: grid;
}

.video-container .video-text h1 {
  margin: 0;
  font-size: 3em;
  text-shadow: 1px 1px #303030;
}

.video-container .video-text h4 {
  margin: 10px 0 20px 0;
  text-shadow: 1px 1px #303030;
}

.video-container .video-text h3 {
  margin: 0;
  padding: 10px 20px 10px 20px;
  background: white;
  color: black;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.projects-container h1 {
  color: gainsboro;
  text-align: center;
  padding: 2px 0 0 0;
}

.projects-container .thumb-container .thumb-video-container {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  position: relative;
  margin: 10px 0 10px 0;
}

.projects-container .thumb-container .thumb-video-container img {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-container .thumb-container .thumb-video-container .thumb-gallery-video {
  cursor: pointer;
}

.projects-container .thumb-container .thumb-video-container .thumb-video-text {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f0f0f0;
  font-weight: 400;
  text-shadow: 1px 1px #303030;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects-container .thumb-container .thumb-video-container .thumb-video-text #artist {
  font-size: 2em;
  font-weight: 700;
}

.projects-container .thumb-container .thumb-video-container .thumb-video-text #song-title {
  font-size: 1.5em;
}

.footer-container {
  color: white;
  text-align: center;
  font-size: 2em;
}

.footer-container h4 {
  margin: 20px 0 20px 0;
}

.footer-container p {
  margin: 5px;
  font-size: .45em;
}

.footer-container .footer-contacts {
  margin: 20px;
}

.footer-container .footer-contacts a {
  margin: 0 15px 0 15px;
}

.footer-container .footer-contacts a .contact-icon {
  margin: 0;
}

@media only screen and (min-width: 950px) {
  .thumb-video-container {
    opacity: 1;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    cursor: default;
  }
  .thumb-video-container .thumb-gallery-video {
    z-index: 3;
  }
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */